:root {
    --light-green: #eff9f6;
    --green: #0b6868;
}

.btn-custum {
    background: var(--green) ;
    border-color: var(--green); 
    color:white
}

.tr-link tr:hover, .tr-link  > td:hover{
    cursor: pointer;
 }

 form .error {
  color: #842e1b !important;
  font-weight: bold;
}